{% extends 'base.html.twig' %}
{% block page_headers %}
<style type='text/css'>
    article > header {
        text-align: center;
        border-bottom: 1px solid #CCC;
        margin-bottom: 2em;
    }

    article > footer {
        text-align: center;
        font-size: 0.9em;
        color: #666;
    }

    article section.article-content p,
    article section.article-content ul,
    article section.article-content ol {
        line-height: 1.5em;
        margin-bottom: 1.3em;
    }

    article section.article-content li {
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }

    article .article-info time {
        color: #111;
        cursor: pointer;
    }

</style>
{% endblock %}
{% block content %}

<article class='row-fluid'>

    <header class='span12'>
        <h1>{{ title }}</h1>
        <p class='article-info'>
            Published <time pubdate="pubdate" title='{{ date_published | date('Y-m-d') }}' datetime="{{ date_published | date('Y-m-d') }}">{{ date_published | date('F j, Y') }}</time>
            {% if date_updated is defined %}
            and revised <time pubdate="pubdate" title='{{ date_updated | date('Y-m-d') }}' datetime="{{ date_updated | date('Y-m-d') }}">{{ date_updated | date('F j, Y') }}</time>
            {% endif %}
            by <a href='{{ site_url }}' class='author'>Casey McLaughlin</a>
        </p>
    </header>

    <section class='article-content span8 offset2'>
        {{ content | raw }}
    </section>

    <footer class='span12'>
        <hr />
        <p>
            This article was published on {{ date_published | date('F j, Y') }}
            {% if date_updated is defined %} 
            and updated on {{ date_updated | date('F j, Y') }}
            {% endif %}
            by Casey McLaughlin.
        </p>
        <p>
            You can find more <a href='{{ site_url }}/articles' title='Articles'>articles</a> and other 
            stuff on my <a href='{{ site_url }}' title='My Website'>website</a>.
        </p>
    </footer>

</article>
{% endblock %}