{% extends 'base.html.twig' %}
{% block page_headers %}
<style type='text/css'>
    .frontpage .right .itemlist {
    margin-top: -5px;
}

    .frontpage .left {
        text-align: right;
        vertical-align: top;
    }

    .frontpage .right {
        padding-top: 0.6em;
    }

    .frontpage > section {
        margin-top: 2.5em;
    }

    .frontpage > section:first-child {
        margin-top: 0;
    }

    .frontpage .left h1,
    .frontpage .left h2 {
        margin: 0;
        padding: 0;
    }

    .frontpage .left h1 {
        font-size: 1.8em;
    }

    .frontpage .left h2 {
        font-size: 1.6em;
    }

    .social-icons {
        list-style-type: none;
    }

    .social-icons > li {
        float: left;
        margin: 0 16px 0 0;
    }

    /* Grayscale per: http://www.karlhorky.com/2012/06/cross-browser-image-grayscale-with-css.html */
    .social-icons li img {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
        filter: gray; /* IE6-9 */
        -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */        
    }

    .social-icons li:hover img,
    .social-icons li:active img {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(0%);
    }

    .frontpage .headshot {
        border: 1px solid #444;
        box-shadow: -1px 1px 1px #555;
    }

    @media (max-width: 767px) {
        .frontpage .left {
            text-align: left;
            border-bottom: 1px solid #CCC;
        }

        .buttonlinks {
            text-align: center;
        }        
    }


    @media (max-width: 480px) {
        .frontpage .left {
            text-align: left;
            border-bottom: 1px solid #CCC;
        }
    }
</style>
{% endblock %}
{% block content %}
<div class='frontpage'>

    <section class='row-fluid'>

        <div class='span4 left visible-desktop visible-tablet'>
            <img class='headshot' src='{{ base_url}}/assets/img/headshot_100px.jpg' title='' />
        </div>
        <div class='span7 right'>
            <p class='bigtext'>I am an IT Administrator, Instructor, and Application Developer in Tallahassee, Florida.</p>
            <p class='buttonlinks'>
                <a href='{{ site_url }}/calendar' class='big-shiny-link'><i class="icon-calendar"></i> My Calendar <span class='go'>&raquo;</span></a>
                <a href='{{ site_url }}/cv' class='big-shiny-link'><i class="icon-edit"></i> My Resume <span class='go'>&raquo;</span></a>
            </P>
        </div>

    </section>

    <section class='row-fluid'>

        <div class='span4 left'>
            <h2 id='code'>Code</h2>
        </div>

        <div class='span7 right'>
            <ul class='itemlist'>
                <li class='item highlight'>
                    <a href='http://github.com/caseyamcl'>
                        <i class="icon-circle-arrow-right"></i>                                      
                        <span class='title'>My Github Profile</span>
                    </a>
                </li>

                {% for item in items.code %}
                <li class='item'>
                     <a href='{{ item.url }}' title='Link to Code'>
                        <i class='icon-play-circle'></i>
                        <span class='title'>{{ item.title }}</span>
                        <span class='aux'>{{ item.tag }}</span>
                        <span class='summary'>{{ item.desc }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

    </section>                

    {# NOT READY YET
    <section class='row-fluid'>

        <div class='span4 left'>
            <h2 id='work'>Work</h2>
        </div>

        <div class='span7 right'>
            <ul class='itemlist'>
                <li class='item highlight'>
                    <a href='{{ site_url }}/cv'>
                        <i class="icon-circle-arrow-right"></i>                                      
                        <span class='title'>View My CV</span>
                    </a>
                </li>

                {% for path, item in work %}
                <li class='item'>
                     <a href='{{ site_url }}/{{ path }}' title='Summary of {{ item.title }}'>
                        <i class='icon-play-circle'></i>
                        <span class='title'>{{ item.title }}</span>
                        <span class='aux'>{{ item.circa }}</span>
                        <span class='summary'>{{ item.summary }}</span>
                    </a>
                </li>
                {% endfor %}                
            </ul>
        </div>

    </section>                
    #}

    <section class='row-fluid'>

        <div class='span4 left'>
            <h2 id='articles'>Articles</h2>
        </div>

        <div class='span7 right'>
            <ul class='itemlist'>
                {% for path, item in articles %}
                <li class='item'>
                     <a href='{{ site_url }}/{{ path }}' title='{{ item.title }}'>
                        <i class='icon-play-circle'></i>
                        <span class='title'>{{ item.title }}</span>
                        <span class='aux'>{{ item.date_published | date('Y M d') }}</span>
                        <span class='summary'>{{ item.summary }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

    </section> 

    {#
    <section class='row-fluid'>

        <div class='span4 left'>
            <h2 id='presentations'>Presentations</h2>
        </div>

        <div class='span7 right'>
            <ul class='itemlist'>
                {% for item in items.presentations %}
                <li class='item'>
                     <a href='{{ site_url }}{{ item.path }}' title='{{ item.title }}'>
                        <i class='icon-play-circle'></i>
                        <span class='title'>{{ item.title }}</span>
                        <span class='aux'>{{ item.tag }}</span>
                        <span class='summary'>{{ item.desc }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    #} 


    <section class='row-fluid'>

        <div class='span4 left'>
            <h2 id='elsewhere'>Also Find Me At</h2>
        </div>

        <div class='span7 right'>
            <ul class='social-icons'>
                <li>
                    <a href='http://github.com/caseyamcl' title='Github'>
                        <img alt='Github' src='{{ base_url }}/assets/img/social-octocat.png' />
                    </a>
                </li>
                <li>
                    <a href='http://twitter.com' title='Twitter'>
                        <img alt='Twitter' src='{{ base_url }}/assets/img/social-twitter.png' />
                    </a>
                </li>
                <li>
                    <a href='http://linkedin.com/caseyamcl' title='LinkedIn'>
                        <img alt='Twitter' src='{{ base_url }}/assets/img/social-linkedin.png' />
                    </a>
                </li>
                <li>
                    <a href='http://cci.fsu.edu/' title='Florida State University'>
                        <img alt='Florida State' src='{{ base_url }}/assets/img/social-fsu.png' />
                    </a>
                </li>                
            </ul>
        </div>

    </section> 
</div>
{% endblock %}