{% extends 'page.html.twig' %}
{% block pagetitle %}Curriculum Vitae{% endblock %}
{% block page_headers %}
<style type='text/css'>

.hresume ul,
.hresume ol {
    padding-left: 20px;
}

.hresume li {
    margin: 25px 0;
    padding-left: 20px;
}

.hresume ul ul,
.hresume ol ul,
.hresume ol ol,
.hresume ul ol {
    margin: 2px 0 2px;
    padding-left: 25px;
}

.hresume ul ul li,
.hresume ol ul li,
.hresume ol ol li,
.hresume ul ol li {
    margin: 5px 0;
}

.hresume > section > ul {
    list-style-type: none;
}

/* -- Personal and Contact Information ----------------------- */
.hresume address.vcard {
    font-style: normal;
    text-align: center;
    border-bottom: 1px solid #333;
    margin-bottom: 1.5em;
}

.hresume address.vcard .adr {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.9em;
}

.hresume address.vcard .contact_info {
    margin-top: 0.5em;
}

.hresume address.vcard .contact_info > span {
    display: block;
}

.hresume address.vcard .contact_info abbr {
    border: none;
    font-style: italic;
    font-size: 0.9em;
}

.hresume address.vcard a {
    color: #444;
}

.resume address.vcard a:hover {
    color: #000;
}

/* -- Education, Experience, and Projects -------------------------- */

.hresume .education p,
.hresume .experience p,
.hresume .project p,
.hresume .guest-lecture p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.hresume .education .summary {
    font-weight: bold;  
}

.hresume .education .duration,
.hresume .experience .duration,
.hresume .project .duration {
    font-weight: bold;
    float: right;
}

.hresume .education .duration .dtstart,
.hresume .education .duration .dtsep {
    display: none;
}

.hresume .experience .title {
    font-weight: bold;
}

.hresume .project .title {
    font-weight: bold;
}

.hresume .project .project-link {
    font-style: italic;
    font-size: 0.9em;
    float: right;
}

.hresume .guest-lecture .venue {
    font-weight: bold;
}

.hresume .guest-lecture .date {
    float: right;
    font-weight: bold;
}

/* -- Other Activities -------------------------------------- */

.hresume .activities {
    list-style-type: disc;
    padding-left: 65px;
}

.hresume .activities li {
    margin-top: 2px;
    margin-bottom: 2px;
}

.hresume .activities li .date {
    float: right;
    font-weight: bold;
    font-size: 0.9em;    
}

/* -- Research Participation -------------------------------- */

.hresume .hcitation .author.self {
    text-transform: uppercase;
    font-weight: bold;
}

.hresume .hcitation .publication .volumetitle,
.hresume .hcitation .presentation .title {
    font-style: italic;
}

/* -- Skills ----------------------------------------------- */

.hresume .skill_list {
    margin-left: 40px;
}

.hresume .skill_list ul li {
    margin: 2px 0;
}

/* -- Activities ------------------------------------------ */

.hresume .activities li {
    margin-bottom: 0.5em;
}

.hresume .activities li span.title {
    display: block;
}

.hresume .activities li span.type,
.hresume .activities li span.link {
    font-size: 0.9em;
}

/* -- Overrides for Mobile -------------------------------- */

@media only screen and (max-width: 767px) {
    
    .hresume .contact_info > span {
        float: none;
        display: block;
    }
    
    .hresume li {
        padding-left: 0px;
    }
    
    .hresume .date,
    .hresume .project-link {
        float: none !important;
        display: block !important;
        font-weight: normal !important;
        font-style: italic;
        font-size: 0.9em;
    }
    
    .hresume .description {
        font-size: 0.9em;
    }

    .hresume #contactinfo h2.fn {
        display: none;
    } 
}


/* -- Overrides for Mobile -------------------------------- */

@media only print {

    body {
        margin-top: 0.5in;
        margin-bottom: 0.5in;
    }

    body > header,
    body > .container > footer {
        display: none;
    }

    .container {
        margin-top: 0;
    }

    .hresume .vcard h2.fn {
        margin-top: 0;
        padding-top: 0;
    }

    /* Bootstrap Override - Hide links in Resume Print */
    a[href]:after {
        content: "";
    }
}

</style>
{% endblock %}
{% block content %}
<div class="hresume">
    
    <address id='contactinfo' class="vcard">
        <h2 class="fn">{{ resume.name }}</h2>
        
        <p class="adr">
            <span class="locality">{{ resume.locality }}</span>,
            <span class="region">{{ resume.region }}</span>
            <span class="postal-code">{{ resume.postalcode }}</span>
        </p>

        <p class="contact_info">
            <span><abbr title="Email Address">e</abbr>: <a class="email" href="mailto:{{ resume.email }}">{{ resume.email }}</a></span>
            <span><abbr title="Website">w</abbr>: <a class="url" href="{{ resume.website }}" title="My Website">{{ resume.website }}</a></span>
            <span><abbr title="Phone Number">ph</abbr>: <span class="tel">{{ resume.phone }}</span></span>
        </p>
        
    </address>
    
    
    
    <section id='education'>
        <h3>Education</h3>
    
        <ul class="vcalendar">

            {% for item in resume.education %}
            <li class="education vevent vcard">
                <p>
                    <span class="fn org">{{ item.institution }}</span>,
                    <span class="location">{{ item.location }}</span>
                </p>
                
                <p>
                    <span class="summary">{{ item.summary }}</span>
                    <span class="date duration">
                        <span class="dtstart" datetime="{{ item.duration.start | date('Y-m-d') }}">{{ item.duration.start | date('F, Y') }}</span>
                        <span class="dtsep">&ndash;</span>
                        <span class="dtend" datetime="{{ item.duration.end | date('Y-m-d') }}">{{ item.duration.end | date('F, Y') }}</span>
                    </span>
                </p>
                
                <p class="description">{{ item.description }}</p>
            </li>            
            {% endfor %}           

        </ul>
    </section>

    
    <section id='teaching'>
        <h3>Teaching Experience</h3>
        
        <ul class="vcalendar">
            {% for item in resume.teaching %}
            <li class="experience vcard vevent">
                <p class="summary">
                    <span class="org fn">{{ item.organization }}</span>
                </p>
                
                <p>
                    <span class="title">{{ item.title }}</span>
                    <span class="date duration">
                        <span class="dtstart" datetime="{{ item.duration.start | date('Y-m-d') }}">{{ item.duration.start | date('F, Y') }}</span>
                        <span class="dtsep">&ndash;</span>
                        {% if item.duration.end == 'current' %}
                            <span class="dtend" datetime="{{ date() | date('Y-m-d') }}">Current</span>
                        {% else %}
                            <span class="dtend" datetime="{{ item.duration.end | date('Y-m-d') }}">{{ item.duration.end | date('F, Y') }}</span>
                        {% endif %}
                    </span>
                </p>

                <ul class='description'>
                {% for desc in item.description %}
                    <li>{{ desc }}</li>
                {% endfor %}
                </ul>
            </li>            
            {% endfor %} 
        </ul>
        
    </section>
    

    <section id='experience'>
        <h3>Professional Experience</h3>
        
        <ul class="vcalendar">
            {% for item in resume.experience %}
            <li class="experience vcard vevent">
                <p class="summary">
                    <span class="org fn">{{ item.organization }}</span>
                </p>
                
                <p>
                    <span class="title">{{ item.title }}</span>
                    <span class="date duration">
                        <span class="dtstart" datetime="{{ item.duration.start | date('Y-m-d') }}">{{ item.duration.start | date('F, Y') }}</span>
                        <span class="dtsep">&ndash;</span>
                        {% if item.duration.end == 'current' %}
                            <span class="dtend" datetime="{{ date() | date('Y-m-d') }}">Current</span>
                        {% else %}
                            <span class="dtend" datetime="{{ item.duration.end | date('Y-m-d') }}">{{ item.duration.end | date('F, Y') }}</span>
                        {% endif %}
                    </span>
                </p>
                
                <ul class='description'>
                {% for desc in item.description %}
                    <li>{{ desc }}</li>
                {% endfor %}
                </ul>
                
            </li>
            {% endfor %}
        </ul>

        
    </section>

    
    <section id='research'>
        <h3>Research Participation</h3>

        <ul class="hcitation">
        
            {% for item in resume.research %}
 
                <li class="{{ item.type | lower }}">
                    {% for k, author in item.authors %}

                        {% if k == 0 and author in ['McLaughlin, C.', 'Casey McLaughlin'] %}
                            <span class='author fn firstauthor self'>{{ author }}</span>,
                        {% elseif k == 0 %}
                            <span class='author fn firstauthor'>{{ author }}</span>,
                        {% elseif author in ['McLaughlin, C.', 'Casey McLaughlin'] %}
                            <span class='author fn self'>{{ author }}</span>,
                        {% else %}
                            <span class='author fn'>{{ author }}</span>,
                        {% endif %}
                    {% endfor %}

                    (<span class='year'>{{ item.date | date('Y') }}</span>):
                    <span class="title">{{ item.title }}</span>

                    {% if item.type == 'Presentation' %}
                        <span class="description">{{ item.description }}</span>
                    {% elseif item.type == 'Publication' %}
                        <span class="volumetitle">{{ item.volumetitle }}</span>,
                        <span class="volume">{{ item.volume }}</span>,
                        <span class="pagerange">{{ item.volumepages }}</span>,
                        <a class="doi" href="http://dx.doi.org/{{ item.doi }}" title="DOI Link">{{ item.doi }}</a>
                    {% endif %}
                </li>

            {% endfor %}
        </ul>
        
    </section>
    
    <section id='projects'>
        <h3>Projects and Other Activities</h3>
    
        <h4>Projects</h4>

        <ul class="projects">

            {% for item in resume.projects %}
            <li class="project">
                <p>
                    <span class="project-title">{{ item.title }}</span>
                    <a class="project-link" href="{{ item.link }}" title="Link to {{ item.title }}">{{ item.link }}</a>
                </p>

                <p>
                    <span class="title">{{ item.role }}</span>
                    <span class="date duration"> 
                        <span class="dtstart" datetime="{{ item.duration.start | date('Y-m-d') }}">{{ item.duration.start | date('F, Y') }}</span>
                        <span class="dtsep">&ndash;</span>
                        {% if item.duration.end == 'current' %}
                            <span class="dtend" datetime="{{ date() | date('Y-m-d') }}">Current</span>
                        {% else %}
                            <span class="dtend" datetime="{{ item.duration.end | date('Y-m-d') }}">{{ item.duration.end | date('F, Y') }}</span>
                        {% endif %}
                    </span>
                </p>

                <ul class='description'>
                {% for desc in item.description %}
                    <li>{{ desc }}</li>
                {% endfor %}
                </ul>
            </li>
            {% endfor %}                    
            
        </ul>

        <h4>Activities</h4>

        <ul class='activities'>
            {% for item in resume.activities %}
                <li class="activity">
                    <span class='title'>{{ item.title }}</span>
                    <span class="date duration"> 
                        {% if item.date == 'current' %}
                            <span class="dtend" datetime="{{ date() | date('Y-m-d') }}">Current</span>
                        {% else %}
                            <span class="dtend" datetime="{{ item.date | date('Y-m-d') }}">{{ item.date | date('F, Y') }}</span>
                        {% endif %}
                    </span>
                    <span class='type'><em>{{ item.type }}</em></span>
                    {% if item.link is defined %} - <span class='link'><a href='{{ item.link }}' title='Link'>{{ item.link }}</a></span>{% endif %}
                </li>
            {% endfor %}
        </ul>
        
    </section>
    
    <section id='skills'>
        <h3>Skillset</h3>

        {% for skillset in resume.skills %}
            <div class="skill_list">
                <h4 class="skill_category">{{ skillset.section }}</h4>
                <ul>
                    {% for skill in skillset.skills %}
                    <li>{{ skill }}</li>
                    {% endfor %}
                </ul>
            </div>            
        {% endfor %}  
        
    </section>
</div>
{% endblock %}