<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Casey McLaughlin | This is my Website</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{{ base_url }}/assets/css/bootstrap.css" rel="stylesheet">
        <link href="{{ base_url }}/assets/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="{{ base_url }}/assets/css/main.css" rel="stylesheet">
        {% block page_headers %}
        {% endblock %}
    </head>
    <body>
        
        <header>
            <div class='container'>
                <div class='span12'>
                    <h1><a href='{{ site_url }}' title='Homepage'>Casey McLaughlin</a></h1>
                </div>
            </div>
        </header>

        <div class='container'>

            {% block content %}
            {% endblock %}

            <footer>
                <p>
                    <a  rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US" title='Creative Commons Share Alike 3.0 License'>
                        <img src='{{ base_url }}/assets/img/cc_12x12_gray.png' alt='Creative Commons Share-Alike' />
                    </a>
                    <a href='{{ site_url }}' title='Home'>
                        Casey McLaughlin
                    </a>
                </p>
            </footer>
        </div>

        <script type='text/javascript' src='{{ base_url }}/assets/js/bootstrap.min.js'></script>

    </body>
</html>