<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Casey McLaughlin.com</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    
    <link rel="stylesheet" type="text/css" href="{{ _data.asset_url }}/css/01-reset.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ _data.asset_url }}/css/02-base.css"  media="all" />
    <link rel="stylesheet" type="text/css" href="{{ _data.asset_url }}/css/03-typography.css" media="all"  />
    <link rel="stylesheet" type="text/css" href="{{ _data.asset_url }}/css/04-skeleton.css"  media="all" />
    <link rel="stylesheet" type="text/css" href="{{ _data.asset_url }}/css/05-layout.css"  media="all" />
    <link rel="stylesheet" type="text/css" href="{{ _data.asset_url }}/css/06-print.css"  media="print" />
</head>

<body>

    <header>
            <nav class='container' role="navigation">
                
                <h1 class='four columns'>
                    <a href='{{ _data.base_url }}'>Casey McLaughlin</a>
                </h1>

                <ul>
                    <li><a href='' title="Stuff I've written">Articles</a></li>
                    <li><a href='' title='My calendar'>Calendar</a></li>
                    <li><a href='' title='Resume and work'>Resume</a></li>
                    <li><a href='' title='Code and other Stuff'>Code & Stuff</a></li>
                </ul>
            </nav>
    </header>
    
    <div id="main" class='container'>
            {{ _content }}
    </div>
    
    <footer>
        <ul>
            <li><a href='http://creativecommons.org/licenses/by-nc-sa/3.0/' class='lb'>cc Casey McLaughlin</a></li>
            <li><a href='http://idiginfo.org/team' title='FSU iDigInfo Team Page'>FSU iDigInfo</a></li>
            <li><a href='http://twitter.com/caseyamcl' title='My Twitter Feed'>Twitter</a></li>
            <li><a href='http://facebook.com/caseyamcl' title='My Facebook Profile'>Facebook</a></li>
            <li><a href='http://github.com/caseyamcl' title='My Code on Github'>Github</a></li>
        </ul>
    </footer>

</body>
</html>
