<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Casey McLaughlin | {% block pagetitle %}Website{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block page_maincss %}
        <link href="{{ base_url }}/assets/css/bootstrap.css" rel="stylesheet">
        <link href="{{ base_url }}/assets/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="{{ base_url }}/assets/css/main.css" rel="stylesheet">
        {% endblock %}

        {% block page_resources %}
        {% endblock %}

        {% block page_headers %}
        {% endblock %}
    </head>
    <body>
        
        <header>
            <div class='container'>
                <div class='span12'>
                    <h1><a href='{{ site_url }}' title='Homepage'>Casey McLaughlin</a></h1>
                </div>
            </div>
        </header>

        {% block page_content %}{% endblock %}

        {% block page_mainjs %}
            <script type='text/javascript' src='{{ base_url }}/assets/js/bootstrap.min.js'></script>
        {% endblock %}

        {% block page_analyticsjs %}
            {% if site_is_public %}
                <script type="text/javascript">

                    var _gaq = _gaq || [];
                    _gaq.push(['_setAccount', 'UA-37597056-1']);
                    _gaq.push(['_trackPageview']);

                    (function() {
                      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                    })();

                </script>
            {% endif %}
        {% endblock %}
    </body>
</html>