<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
    <atom:link href="{{ current_url }}" rel="self" type="application/rss+xml" />
    <title>Casey McLaughlin: {{ feedTitle }}</title>
    <description>{{ feedDesc }}</description>
    <link>{{ current_url }}</link>
    <lastBuildDate>{{ date() | date(dateFormat) }}</lastBuildDate>
    <pubDate>{{ date() | date(dateFormat) }}</pubDate>
    <ttl>1800</ttl>

    {% for item in items %}
    <item>
         <title>{{ item.title }}</title>
         <description>{{ item.summary }}</description>
         <link>{{ item.url }}</link>
         <guid>{{ item.url }}</guid>
         <pubDate>{{ item.pubDate | date(dateFormat) }}</pubDate>
    </item>
    {% endfor %}
 
</channel>
</rss>